*{
  font-family: 'Comfortaa, cursive'
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.m{
  text-decoration-color: red;
}
.j{
  display: inline-block;
  background: orange;
    color: blue;
    padding:40px 10px;
    margin: 30px 0; 
    border-radius: 0px;
    transition: background 0.5s;
    font-size: 50px;
  }

  .j:hover
  {
    background: #563434;
  }

.t{
  display: inline-block;
  background: green;
    color: yellow;
    padding:45px 180px;
    margin: 40px 0; 
    border-radius: 40px;
    transition: background 0.5s;
    font-size: 50px;
  }

  .t:hover
  {
    background: #563434;
  }

.ab{
  display: inline-block;
  background: yellow;
    color: red;
    padding:60px 150px;
    margin: 30px 0; 
    border-radius: 50px;
    transition: background 0.5s;
    font-size: 50px;
  }

  .ab:hover
  {
    background: #563434;
  }


body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	 display: flex;
	 align-items: center;
	 padding: 20px;
}
 nav {
 	flex: 1;
 	text-align:right; 
 }
 nav ul{
 	display: inline-block;
 	list-style-type: none;
 }
 nav ul li{
 	display: inline-block;
    margin-right: 20px;
 } 
 a{
 	text-decoration: none;
 	color: #555;
 }
 p{
 	color: #555;
 }
 .container{
     max-width: 1200px;
     margin: 0 auto;
     padding-left: 25px;
     padding-right: 25px;
 }

 .row
 {
 	display: flex;
 	align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .col-2
 {
     flex-basis: 50%;
     min-width: 300px;
 }
 .col-2 img
 {
 	max-width: 100%;
 	padding-right: 50px 0;
 }
 .col-2 h1{
 	font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
 }
 .btn{
 	display: inline-block;
 	background: #ff523b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0; 
    border-radius: 30px;
    transition: background 0.5s;
  }

  .btn:hover
  {
  	background: #563434;
  }
  
  .header
  {
    background: radial-gradient(#fff,#ffd6d6);    
  }
  .header .row
  {
    margin-top: 1px; 
  }
  .categories
  {
    margin: 70px 0;
  }
  .col-3
  {
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 30px;
  }
.col-3 img
{
  width: 100%;
}
  .small-container
  {
  	max-width: 1080px;
  	margin: auto;
  	padding-left: 25px; 
  	padding-right: 25px;
  }
  .col-4
  {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  .col-4 img
  {
      width: 100%;
  }
 .title
 {
   text-align: center;
   margin: 0 auto 80px;
   position: relative;
   line-height: 60px;
   color: #555;
 } 
 .title::after
 {
   content: '';
   background: #ff523b;
   width: 80px;
   height: 5px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
 }
h4
{
  color: #555;
  font-weight: normal;
}
.col-4 p
{
   font-size: 14px;
}
.col-4:hover
{
    transform: translateY(-10px);
}
/*------------ featured products --------*/
.container{
     max-width: 1200px;
     margin: 0 auto;
     padding-left: 25px;
     padding-right: 25px;
 }
.container > h1
 {
  padding: 20px 0;
 }
 .cart
 {
  display: flex; 
 }
 .products
 {
  flex: 0.75;
 }
 .product
 {
  display: flex;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border: 1px solid silver;
  margin-bottom: 25px;
 }
 .product:hover
 {
  border: none;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2)
  transform: scale(1.01);
 }
 .product > img
 {
  width: 300px;
  height: 200px;
 }
.product > img:hover
{
  transform: scale(1.04);
}
.product-info
{
  padding: 20px;
  width: 100%;
  position: relative;
}
.product-name , .product-price
{
  margin-bottom: 20px;
}
.product-remove
{
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 25px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.product-remove:hover
{
  background-color: white;
  color: green;
  font-weight: 600;
  border: 1px solid red;
}
.pro
{
  position: absolute;
  bottom: 20px;
  right: 150px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.pro:hover
{
  background-color: white;
  color: green;
  font-weight: 600;
  border: 1px solid red;
}
.R
{
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.R:hover
{
  background-color: white;
  color: green;
  font-weight: 600;
  border: 1px solid red;
}
.product-quantity>input
{
  width: 40px;
  padding: 5px;
  text-align: center;
}
.cart-total
{
  flex: 0.25;
  margin-left: 20px;
  padding: 20px;
  height: 300px;
  border: 1px solid silver;
  border-radius: 5px;
}
.cart-total p
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
}
.cart-total a
{
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: tomato;
  color: white;
  text-decoration: none;
}
.cart-total:hover
{
  background-color: red;
}
@media screen and (max-width: 700px)
{
  .remove
  {
    display: none;
  }
  .product
  {
    height: 150px;
  }
  .product > img
  {
      height: 150px;
      width: 200px;
  }
  .product-name, .product-price
  {
     margin-bottom: 10px;
  }
}
@media screen and (max-width: 90 0px)
{
  .cart
  {
    flex-direction: column;
  }
  .cart-total
  {
     margin-left: 0;
     margin-right: 20px;
  }
}
@media screen and (max-width: 1220px)
{
  .container
  {
    max-width: 95%;
  }
}

/*------------ testimonial ----------*/
.testimonial
{
  padding-top: 100px;
}
.testimonial .col-3
{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img
{
  width: 50px;
  margin-top: 30px;
  border-radius: 60%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.col-3 p
{
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3
{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*------------brands-------------*/
.brands
{
  margin: 100px auto;
}
.col-5
{
  width: 160px;
}
.col-5 img
{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover
{
  filter: grayscale(0);
}
/*------------footer-------------*/
.footer
{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p
{
  color: #8a8a8a;
}
.footer h3
{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1 .footer-col-2 .footer-col-3
{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1
{
  flex-basis: 30%;
}
.footer-col-2
{
  flex: 1;
  text-align: center;
}












